.testimonial {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;

    margin: 75px 0 75px;

    background-color: #2545B8;
}

@media (max-width: 992px) {
    .testimonial {
        margin: 0 0 50px;
    }

    .testimonial::before {
        content: "";
        display: block;
        height: 25vw;
        background-position: center;
        background-repeat: no-repeat;
    
        background-color: azure;
    } 
}

.testimonial-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
}

@media (max-width: 992px) {
    .testimonial-wrapper {
        display: block;
        padding: 0 1em 1em;
    }
}

.testimonial-photo {
    width: 22%;
    height: 25vw;
    max-height: 400px;
    min-height: 300px;
    border-radius: 12px;

    margin: auto 3em auto 3em;

    object-fit: cover;
    object-position: center center;

    transform: scale(1.16);

    flex-shrink: 0;
}

@media (max-width: 992px) {
    .testimonial-photo {
        width: 100%;
        height: 50vw;
        min-height: 70px;

        margin: 0;

        transform: scale(1);
        transform: translateY(-25vw);
    }
}

.testimonial-textarea {
    display: flex;
    flex-direction: column;
    
    padding: 1em 0;
    margin: auto 3rem auto 0;

    text-align: left;
}

@media (max-width: 992px) {
    .testimonial-textarea {
        padding: 0;
        margin: -20vw 0 0;
    }
}

.testimonial-feedback::before {
    content: "";
    display: block;
    height: 36px;
    width: 45px;
    background-position: center;
    background-repeat: no-repeat;

    background-image: url(img/icon.svg);

    margin-bottom: 1.5em;
}

.testimonial-feedback {
    margin-bottom: 1.5em;
}

.testimonial-name {
    font-weight: 700;
}

.testimonial-location {

}

.testimonial-name, .testimonial-location {
    font-size: 1rem;
    line-height: 1.5rem;
}